
* {
    margin: 0;
}

header {
    padding-top: 0;
    padding-bottom: 30px;
}


img {
    width: 1280px;
    height: 720px;
    transform: scale(0.6);
    margin: auto;
}

header img {
    margin: auto;
    width: 100px;
    height: 100px;
}


header > a {
    margin-right: 15px;
    text-decoration: none;
}
